<!-- sidebar-wrapper -->
<nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
        <div class="sidebar-brand">
            <a href="index.html">
                <img src="assets/images/logo-dark.png" height="24" class="block dark:hidden" alt="">
                <img src="assets/images/logo-light.png" height="24" class="hidden dark:block" alt="">
            </a>
        </div>
        
        <ul class="sidebar-menu border-t dark:border-white/10 border-gray-100" data-simplebar style="height: calc(100% - 70px);">
            <li class="">
                <a href="index.html"><i data-feather="airplay" class="h-4 w-4 me-3"></i>Dashboard</a>
            </li>

            <li class="">
                <a href="explore.html"><i data-feather="compass" class="h-4 w-4 me-3"></i>Explore</a>
            </li>

            <li class="">
                <a href="auction.html"><i data-feather="film" class="h-4 w-4 me-3"></i>Live Auction</a>
            </li>

            <li class="">
                <a href="wallet.html"><i data-feather="wifi" class="h-4 w-4 me-3"></i>Connect Wallet</a>
            </li>

            <li class="">
                <a href="collection.html"><i data-feather="copy" class="h-4 w-4 me-3"></i>Collections</a>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i data-feather="users" class="h-4 w-4 me-3"></i>Creators</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="creators.html">Creators</a></li>
                        <li><a href="creator-profile.html">Profile</a></li>
                        <li><a href="creator-profile-setting.html">Profile Setting</a></li>
                        <li><a href="become-creator.html">Become Creator</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i data-feather="file-text" class="h-4 w-4 me-3"></i>Blog</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="blog.html">Blogs</a></li>
                        <li><a href="blog-detail.html">Blog Detail</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i data-feather="file" class="h-4 w-4 me-3"></i>Pages</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="starter.html">Starter</a></li>
                        <li><a href="faqs.html">FAQs</a></li>
                        <li><a href="privacy.html">Privacy Policy</a></li>
                        <li><a href="terms.html">Term & Condition</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i data-feather="log-in" class="h-4 w-4 me-3"></i>Authentication</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="signup-success.html">Signup Success</a></li>
                        <li><a href="reset-password.html">Reset Password</a></li>
                        <li><a href="lock-screen.html">Lockscreen</a></li>
                    </ul>
                </div>
            </li>

            <li class="sidebar-dropdown">
                <a href="javascript:void(0)"><i data-feather="layers" class="h-4 w-4 me-3"></i>Miscellaneous</a>
                <div class="sidebar-submenu">
                    <ul>
                        <li><a href="comingsoon.html">Comingsoon</a></li>
                        <li><a href="maintenance.html">Maintenance</a></li>
                        <li><a href="error.html">Error</a></li>
                        <li><a href="thankyou.html">Thank You</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- sidebar-menu  -->
    </div>
</nav>
<!-- sidebar-wrapper  -->