<meta charset="UTF-8">
<title>@@title - Tailwind CSS NFT Marketplace Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Tailwind CSS NFT Marketplace Template">
<meta name="keywords" content="buy nft, corporate, creative, digital art, Explore NFT, metamask, modern, nft, nft collection, nft marketplace, nft wallet, responsive, sell nft, tailwind css, tailwindcss">
<meta name="author" content="Shreethemes">
<meta name="website" content="https://shreethemes.in">
<meta name="email" content="support@shreethemes.in">
<meta name="version" content="1.2.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- favicon -->
<link rel="shortcut icon" href="assets/images/favicon.ico">